* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #313638;
  color: #fff;
  height: 17vh;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0dfd5;
  height: 60em;
  padding-top: 2em;
  height: fit-content;
}

.img {
  height: 25em;
}

.desc {
  font-size: 1.5em;
  padding: 5rem;
}

.footer {
  height: 20vh;
  background-color: #313638;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.5em;
  color: white;
}

#propiedades {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  padding: 2em;
  background-color: #f5f5f5;
}

.prueba {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

#formDatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.form-label {
  padding-bottom: 1em;
}

.buttonSubmit {
  border-radius: 15px;
  padding: 0.5em;
  color: white;
  background-color: #313638;
  margin: 1em 0 3em 0;
}
